
body {
    background-color: lightsalmon;
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}

#home {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
}

header h2 {
    margin-top: 90px;
}

.pelota {
    position: fixed;
    display:flex;
    top: 15px;
    right: 15px;
}

.pelota img{
   width: 60px;
}

.pelota .gol{
    display: none;
    color: white;
    padding: 15px;
}

@media (min-width: 768px) {
    .pelota {
        top: 4px;
        right: 15px;
    }
    .pelota img{
        width: 90px;
        filter: invert(100%);
    }
    .pelota .gol{
        font-size: 2em;
    }
}

.pelota:hover .gol{
   display: block;
}

.inicio {
    border: 2px dotted #000000;
    background-color: yellow;
}

#indice li:hover {
    color: green;
    padding-left: 4px;
}



#once-ideal ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#once-ideal ul li, .las-listas {
    background-color: orange;
    border: 3px solid green;
}
#once-ideal ul li {
    border-radius: 10%;
}


#once-ideal ul li:hover {
    background-color: orangered;
    color: white;
}

#once-ideal img{
    width: 85px;
    margin: 8px;
}

@media (min-width: 768px) {
    #once-ideal img{
        width: 200px;
    }
}

.las-listas {
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.las-listas article, .las-listas fieldset{
    justify-content:space-between;
    border-radius: 16px;
    background-color: #F59C27;
}
.las-listas article{
    width: 100%;
}

.las-listas fieldset legend{
    color: green;
    font-weight: bold;
}
/* lo que viene siendo los fields 
.las-listas fieldset div{
    padding: 8px;
    display: flex;
    align-items: center;
}
.las-listas fieldset div label{
    flex: 0 0 25%;
    text-align: right;
    padding-right: 8px;
}
.las-listas fieldset div input{
    flex: 0 0 75%;
    padding: 4px;
    width: 100%;
}
*/
.las-listas article h4 {
    color: green;
    text-decoration: underline;
    text-align: center;
}
.fuentes {
    padding-left: 16px;
}


@media (min-width: 768px) {
    .las-listas {
        flex-direction: row;
        gap: 24px;
    }
}

