
body {
    background-color: rgb(242, 253, 162);
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    
}

#home {
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 0;
}

header h2 {
    margin-top: 90px;
}

nav ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: green;
    font-weight: bold;
    list-style-type:none;
    justify-self:left;
}
nav ul .menu-normal{     
    padding: 8px;
 }
nav ul .menu-normal a {
    text-decoration: none;
    color: green;
}

nav ul .show-listas-menu{
    position: relative;
}
.listas-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    width: 300px;
    left: 0;
    
    border: 3px solid green;
    border-radius: 10%;
    background-color: yellow;
    font-size: 0.8em;
    padding: 8px;
    margin-top:10px;
}
.listas-menu li{
    padding: 8px;
}
.pelota {
    position: fixed;
    z-index: 1002;
    display:flex;
    top: 15px;
    right: 15px;
}

.pelota img{
   width: 60px;
}

.pelota .gol{
    display: none;
    color: white;
    padding: 15px 0px;
}

@media (min-width: 768px) {
    #home {
        text-align: center;
    }
    nav ul{
        flex-direction: row;
        gap: 50px;
        font-size: 1.5em;
        justify-self: center;
    }
    .pelota {
        top: 4px;
        right: 15px;
    }
    .pelota img{
        width: 90px;
        filter: invert(100%);
    }
    .pelota .gol{
        font-size: 2em;
    }
}

.pelota:hover .gol{
   display: block;
}

.inicio {
    border: 2px dotted #000000;
    background-color: yellow;
}

#indice li a:hover {
    color: orange;
    text-decoration: underline;
}



#once-ideal ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    text-align: center;
    list-style-type: none;
    padding: 0;
}

#once-ideal ul li, .las-listas, form {
    background-color: orange;
    border: 3px solid green;
}
#once-ideal ul li {
    border-radius: 10%;
}


#once-ideal ul li:hover {
    background-color: orangered;
    color: white;
}

#once-ideal img{
    width: 85px;
    margin: 8px;
}

@media (min-width: 768px) {
    #once-ideal img{
        width: 200px;
    }
}
.las-listas, form {
    border-radius: 24px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
form{
    flex-wrap: wrap;
    justify-content:space-between;
}
.las-listas article, form fieldset{
    border-radius: 16px;
    background-color: #F59C27;    
}
form fieldset{
    flex: 1;
}
.las-listas article{
    width: 100%;
}
form fieldset legend{
    color: green;
    font-weight: bold;
}
/* lo que viene siendo los fields */
form fieldset .div-normales, form fieldset .div-radiobutton{
    padding: 8px;
    display: flex;
    align-items: center;
}
form fieldset .div-normales label, form fieldset .div-radiobutton label{
    flex: 0 0 30%;
    text-align: right;
    padding-right: 8px;
}
form fieldset .div-radiobutton label{
    align-self: flex-start;
    padding-top: 4px;
}

form fieldset .div-normales input, form fieldset .div-normales select, form fieldset .div-radiobutton .selector-pie{
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
}
form fieldset .div-radiobutton .selector-pie{
    display: flex;
    flex-direction: column;
}
/* fin lo del fields */

.las-listas article h4 {
    color: green;
    text-decoration: underline;
    text-align: center;
}
.fuentes {
    padding-left: 16px;
}

.boton-enviar{
    background-image: url('../imagenes/cesped.png');
    color: white;
    font-weight: bold;
    font-size: 28px;
    padding: 16px;
    border: 3px solid white;
    border-radius: 20%;
}

.boton-enviar:hover {
    filter: brightness(80%);
    cursor:pointer;    
}

@media (min-width: 768px) {
    .las-listas, form {
        flex-direction: row;
        gap: 24px;
    }
    form fieldset{
        flex: 1 1 45%; 
    }
    .boton-enviar{
        padding: 20px 60px;
        font-size: 40px;
    }
}

